<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.guidebook" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">

		<activity android:name=".SplashScreenActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".GuidebookActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".GuidebookLocationsTabActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".GuidebookLocationPacksTabActivity" android:theme="@android:style/Theme.NoTitleBar"></activity>

		<activity android:name=".location.LocationActivity"
			android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".location.LocationInfoListActivity"></activity>
		<activity android:name=".location.LocationReviewListActivity"></activity>
		<activity android:name=".location.LocationVoiceListActivity"></activity>

		<activity android:name=".locationpack.LocationPackActivity"
			android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".locationpack.LocationPackLocationListActivity"></activity>
		<activity android:name=".locationpack.LocationPackGuidedTourListActivity"></activity>
		
		
		<activity android:name=".map.LocationMapViewActivity"></activity>
		
		<uses-library android:name="com.google.android.maps" />
	</application>
	<uses-sdk android:minSdkVersion="8"></uses-sdk>
	
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest> 